/*body*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Logoet */
.logo{
    text-align: center;
    background-color: black;
}

/* Navigation */
.navboxs{
    background-color: yellow;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap ;
}

nav a{
    padding: 17px 25px;
    color: black;
    text-decoration: none;
    display: block;
}

nav a:hover{
    background-color: darkred;
}

/* Slide */
.slider img{
    width: 100%;
}

.container{
    width: 60%;
    margin: 0 auto 0 auto;
    
}

/* cykler */
.cykelimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    background-color: #fff;
    color: #444;
}

/* News */
.News{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.newsboxs{
    padding: 15px;
    background-color: rgb(197, 196, 196);
}

.video{
    width: 100%;
}

/* footer */
.footerboxs{
    background-color: black;
}

.footer{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    grid-gap: 10px;
}

.footer h3{
   text-align: center;
    color: yellow;

}

.footerP ul{
    padding: 0;
    text-align: center;
    color: gray;
    list-style-type: none;
}

.footerN{
    text-align: center;
    grid-column: 2 / span 1;
    color: gray;
}